[Unit]
Description=Backup stella_finder db and uploadedImages

[Service]
Type=simple
WorkingDirectory=~/stella-finder/
ExecStart=/bin/sh scripts/prod/backup/backup.sh && /bin/sh scripts/prod/backup/remove_old.sh

[Install]
WantedBy=multi-user.target
